
Milestone2/.ipynb_checkpoints/Politician Filter-checkpoint.ipynb
Milestone2/.ipynb_checkpoints/Dumped_data_interpretation-checkpoint.ipynb
Milestone2/.ipynb_checkpoints/Politician Filter-checkpoint.ipynb
Milestone2/.ipynb_checkpoints/Project Pipeline-checkpoint.ipynb
Milestone2/.ipynb_checkpoints/descriptive_statistics-checkpoint.ipynb
